@import "./func.scss";

// Tag
input,textarea,*{
  padding:0;
  margin:0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-perspective: 100%;
  border-radius: 0px;
}

input, textarea{
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button:before,
input[type='number']::-webkit-inner-spin-button:after,
input[type='number']::-webkit-inner-spin-button{
  @extend %none;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  color: #666;
  font-family: "Hiragino Sans GB","Microsoft YaHei",simsun, Helvetica;
  font-size: 12px;
  font-weight: 100;
  height: 100vh;

  @extends %bg-grey;
}

// Public Class
.body{
  @extend %relative;
}

.ng-hide{
  @extend %none;
}

.svg-hide{
  @extend %transparent;
  @extend %absolute;
}

.hidden{
  @extends %hidden;
}

.pointer{
  @extend %pointer;
}

.bg{
  @extend %bg;
  z-index: -1;
}

.row{
  @extend %row;
}

.right{
  @extend %right;
}

.left{
  @extend %left;
}

.text-center{
  @extend %tcenter;
}

.text-left{
  @extend %tleft;
}

.text-right{
  @extend %tright;
}

.z-1{
  @extend %z-1;
  @extend %relative;
}

.transparent{
  opacity: 0;
}

.mask-hide{
  -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 0, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
}

.opacity-ani{
  animation: opacityFade 0.7s ease-in;
}

.table{
  @extend %table;
}

[data-before] {
  &:before{
    content: attr(data-before);
  }
}

[data-after] {
  &:after{
    content: attr(data-after);
  }
}

@for $i from 1 through 20 {
  .fw-#{$i * 5} {
    $fwWidth : $i/20;

    width: percentage($fwWidth);
    @extend %left;
  }

  @media (max-width: 640px) {
    .fw-#{$i * 5}:not(.all){
      width: 100%;
      padding: 0 15px;
    }
  }
}

@keyframes opacityFade {
  @include opacityFade(0, 1);
}
