@import "frontend/css/func.scss";

.pages-canvas-world-render {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;

  .canvas {
    width: 100vw;
    height: 100vh;

    @extend %full;
  }

  .coord {
    z-index: 1;
    margin: 10px;
    color: white;
    
    @extend %full;
  }
}
