@import './mathsass/dist/math';

// Public val
$blue: rgb(194, 229, 156);
$fontBlue: #3d99de;

$green: rgb(100, 179, 244);

$red: #ff5d5d;
$grey: #f3f3f3;

// Public mixin
@mixin linearGradient($b: $blue, $c: $green, $a: to left) {
  background: -webkit-linear-gradient($a, $b , $c);
  background: linear-gradient($a, $b, $c);
}

@mixin bg($size: cover,$url:'/', $x: 50%, $y: 50%){
  background-image: url($url);
  background-position: $x $y;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin clearBoth{
  &:before, &:after{
    content: ' ';
    display: table;
    clear: both;
  }
}

@mixin ellipsisMul($num: 1, $hei: ''){
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

@mixin marginLeft($w: 40px, $num: 8) {
  $m: 1/($num - 1);
  $perM: percentage($m);

  margin-left: calc(#{$perM} - #{$w*$num/($num - 2)});
  float: left;

  &:first-child{
    margin-left: 0px;
  }
}

@mixin mCenter($mt: 0px, $ml: 0px, $t: 50%, $l: 50%) {
  position: absolute;
  top: $t;
  left: $l;

  margin-top: $mt;
  margin-left: $ml;
}

@mixin opacityFade($a: 1, $b: 0) {
  0%{
    opacity: $a;
  }
  100%{
    opacity: $b;
  }
}

// Public Attr
%absolute{
  position: absolute;
}

%relative{
  position: relative;
}

%fixed{
  position: fixed;
}

%inline-block{
  display: inline-block;
}

%block{
  display: block;
}

%none{
  display: none;
}

%w100{
  width: 100%;
}

%h100{
  height: 100%;
}

%hidden{
  visibility: hidden;
}

%ohidden{
  overflow: hidden;
}

%bg-grey{
  background-color: $grey;
}

%pointer{
  cursor: pointer;
}

%transparent{
  opacity: 0;
}

%vmiddle{
  vertical-align: middle;
}

%tcenter{
  text-align: center;
}

%tleft{
  text-align: left;
}

%tright{
  text-align: right;
}

%left{
  float: left;
}

%right{
  float: right;
}

%pnone{
  pointer-events: none;
}

%pall{
  pointer-events: all;
}

%bgwhite{
  background-color: white;
}

%fwhite{
  color: white;
}

%fred{
  color: $red;
}

%ifred{
  color: $red !important;
}

%fblue{
  color: $fontBlue;
}

%ifblue{
  color: $fontBlue !important;
}

%overauto{
  overflow: auto;
}

%overhidden{
  overflow: hidden;
}

%bhidden{
  backface-visibility: hidden;
}

%wnowrap{
  white-space: nowrap;
}

%bold{
  font-weight: bold;
}

%transitionlight{
  transition-timing-function: cubic-bezier(1,1,1,1);
}

%fa{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @extend %inline-block;
}

%fullwidth{
  left: 0;
  right: 0;

  @extend %absolute;
}

%fullheight{
  top: 0;
  bottom: 0;

  @extend %absolute;
}

%full{
  @extend %fullheight;
  @extend %fullwidth;
}

%noscroll{
  &::-webkit-scrollbar{
    background: transparent;
    opacity: 0;
    display: none;
  }
}

%percenter{
  left: 50%;  
  top: 50%;  
  transform: translate(-50%, -50%);

  @extend %absolute;
}

%ellipsis{
  text-overflow: ellipsis;
  @extend %wnowrap;
  @extend %ohidden;
}

%row{
  &:before, &:after{
    content: '';
    display: table;
    clear: both;
  }
}

%dflex{
  display: flex;
}

%j-space-between{
  justify-content: space-between;
}

%j-space-around{
  justify-content: space-around;
}

%testflex{
  flex-direction: column;

  @extend %dflex;
  @extend %j-space-between;
}

%testflex-around{
  flex-direction: column;

  @extend %dflex;
  @extend %j-space-around;
}

%bg{
  background-color: rgba(0,0,0,.3);

  @extend %full;
  @extend %fixed;
}

%border-radius-50{
  border-radius: 50%;
}

%z-1{
  z-index: 1
}

%fa{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: antialiased;

  @extend %inline-block;
}

// Tag
input,textarea,*{
  padding:0;
  margin:0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-perspective: 100%;
  border-radius: 0px;
}

input, textarea{
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button:before,
input[type='number']::-webkit-inner-spin-button:after,
input[type='number']::-webkit-inner-spin-button{
  @extend %none;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  color: #666;
  font-family: "Hiragino Sans GB","Microsoft YaHei",simsun, Helvetica;
  font-size: 12px;
  font-weight: 100;
  height: 100vh;

  @extends %bg-grey;
}

// Public Class
.body{
  @extend %relative;
}

.ng-hide{
  @extend %none;
}

.svg-hide{
  @extend %transparent;
  @extend %absolute;
}

.hidden{
  @extends %hidden;
}

.pointer{
  @extend %pointer;
}

.bg{
  @extend %bg;
  z-index: -1;
}

.row{
  @extend %row;
}

.right{
  @extend %right;
}

.left{
  @extend %left;
}

.text-center{
  @extend %tcenter;
}

.text-left{
  @extend %tleft;
}

.text-right{
  @extend %tright;
}

.z-1{
  @extend %z-1;
  @extend %relative;
}

.transparent{
  opacity: 0;
}

.mask-hide{
  -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 0, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
}

.opacity-ani{
  animation: opacityFade 0.7s ease-in;
}

.table{
  display: table;
  @extend %w100;

  >*{
    display: table-cell;

    &.equal{
      width: 50%;
    }
  }

  &.center{
    >*{
      @extend %vmiddle;
    }
  }
}

@for $i from 1 through 20 {
  .fw-#{$i * 5} {
    $fwWidth : $i/20;

    width: percentage($fwWidth);
    @extend %left;
  }

  @media (max-width: 640px) {
    .fw-#{$i * 5}:not(.all){
      width: 100%;
      padding: 0 15px;
    }
  }
}

@keyframes opacityFade {
  @include opacityFade(0, 1);
}
