@import "./base.scss";

body{
  background: white;
}

.percenter{
	@extend %percenter;
}

.header{
  position: relative;

  .img{
    position: absolute;
    display: inline-block;
    left: 3px;
    top: 0;
    bottom: 0;
    width: 38px;

    .user{

    }
  }
}

.user-header{
  padding: 15px 10px 10px 10px;
  height: 100px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #eaeaea;

  .setting{
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .avatar{
    height: 60px;
    width: 60px;
    top: inherit;
    position: absolute;
    border: 1px solid #eaeaea;
    display: inline-block;

    right: 10px;
    bottom: 0;
    border-radius: 5px;
    transform: translate(0, 50%);
    background: white;
  }

  .name{
    position: absolute;
    right: 80px;
    bottom: 5px;
  }

  .add{
    position: absolute;
    right: 110px;
    bottom: 5px;
    color: #60a70c;
  }
}

.chats{
  padding: 10px;

  .chat{
    .img{
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      float: left;
      margin-right: 10px;
    }

    .name{
      font-size: 12px;
      color: #999;
    }

    .desc{
      text-align: left;
      padding-left: 40px;
    }

    & + .chat{
      margin-top: 20px;
    }
  }
}

.send{
  position: absolute;
  bottom: 2px;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #eaeaea;

  input{
    border-bottom: none;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

.user-body{
  margin-top: 5px;

  .body-top{
    position: relative;

    input{
      background: transparent;
      padding-left: 10px;
      font-size: 12px; 
      padding-bottom: 5px;
    }

    .add{
      color: #60a70c;
      position: absolute;
      bottom: 5px;
      right: 80px;
    }
  }
}

.people{
  padding: 10px;
  height: 70px;
  white-space: nowrap;
  border-bottom: 1px solid #eaeaea;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;

  .person{
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    position: relative;

    &:before{
      content: '';
      background: rgba(255,255,255, .6);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    &:after{
      content: attr(data-after);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-radius: 0 0 5px 5px;
      text-align: center;
      padding: 2px 0;
      font-size: 12px;
      transform: scale(.7);
      transform-origin: 50% 100%;
    }
  }
}

.rooms {
  padding: 10px;

  .room{
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;

    @extend %row;

    &+.room{
      margin-top: 10px;
    }

    &:last-child{
      border: none;
    }

    .img{
      height: 80px;
      width: 80px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      float: left;
      margin-right: 10px;
      position: relative;

      i{
        font-size: 28px;
        color: #aaa;
      }
    }

    .title{
      font-size: 14px;
    }
  }
}

.tags{
  font-size: 12px;

  .tag{
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 0 5px 5px 0;

    &.add{
      color: #60a70c;
    }
  }
}

.side{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 45%;
  padding: 10px;
  text-align: center;
  color: #666;

  &.right{
    left: inherit;
    right: 0;

    .avatar{
      border: none;
    }

    .option{
      &:after{
        content: '' !important;
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 2px;
        width: 50%;

        background: #deca3e;
      }

      &.checked{
        color: #deca3e;

        &:after{
          width: 100%;
        }
      }
    }
  }

  &:before{
    content: '';
    background: white;

    @extend %full;;
  } 

  .qrcode{
    position: absolute;
    bottom: 20px;
    color: #666;
    text-align: center;
    left: 0;
    right: 0;

    i{
      font-size: 56px;

      &:last-child{
        margin-left: 20px;
      }
    }
  }

  .avatar{
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-color: #eaeaea;

    .logo{
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(.5);
    }
  }

  .name{
    position: relative;
    margin-top: 5px;

    &+.option{
      margin-top: 20px;
    }
  }

  .option{
    margin-top: 5px;
    position: relative;
    text-align: left;
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;

    &:after{
      margin-top: 3px;
      float: right;
      content: '\e609';
      font-family: "t-font" !important;
      font-size: 12px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #ff5e5e;
    }

    &.checked{
      &:after{
        content: '\eef9';
        color: #60a70c;
      }
    }
  }

  .go-rooms{
    position: absolute;
    left: 10px;
    padding-left: 0px;
    top: 85%;
  }

  .footer{
    position: absolute;
    left: 10px;
    padding-left: 0px;
    top: 92%;
  }
}

.icon{
  font-size: 36px;
  position: absolute;
  margin: 20px;
  right: 0;
  transform: rotate(360deg);
  transition: 10s;
}

.logo{
  line-height: .45;
  top: 2%;
  left: 75%;

  transform: scale(.7);

  >*{
    position: relative;

    &:before{
      content: attr(data-before);
      vertical-align: middle;
    }

    &:after{
      content: attr(data-after);
      vertical-align: middle;
    }
  }

  .before{
    margin-right: 21px;

    &:before{
      font-size: 48px;
      font-weight: bold;  
    }

    &:after{
      font-size: 14px;
      color: #888;
      position: relative;
      left: 8px;
      top: -13px;
    }
  }

  .after{
    float: right;

    &:before{
      font-size: 14px;
      color: #888;
      position: relative;
      left: -10px;
      top: 11px;
    }

    &:after{
      font-size: 48px;
      font-weight: bold;
    }
  }
}

.avatar{
  top: 35%;
  height: 80px;
  width: 80px;
  border: 1px solid #666;
  border-radius: 10px;

  .img{
    font-size: 32px;
    color: #999;
  }

  .edit{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    padding: 3px;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    border-radius: 7px 0 0 0;
  }
}

.container{
  color: #333;
}

.btn-container{
  top: 53%;
}

.body{
  padding: 10px;
}

.header-title{
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 3px #ddd;
}

textarea{
  resize: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  font-size: 12px;
}

input{
	border: none;
	padding: 5px;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  display: block;

  width: 100%;
}

.text-add{
  margin-top: 20px;
}

.input-container{
  position: relative;

  & + .tags {
    margin-top: 10px;
  }

  .input-desc{
    color: #60a70c;
    content: attr(data-after);
    position: absolute;
    right: 0;
    bottom: 5px;
  }

}

.input-add{
  font-size: 12px;
  margin-top: 10px;
  padding-left: 0px;
}

.btn{
  position: relative;
  top: calc(100vh - 320px);

  &:not([data-before]){
    &:before, &:after{
      display: none !important;
    }

    padding: 5px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #999; 
    margin: 0 10px;
  }

  &:before, &:after{
    border-radius: 50px;
    text-align: center;
    padding: 5px 10px;
    color: #666;
    display: inline-block;
    width: 45%;
  }

  &:before{
    content: attr(data-before);
    border: 1px solid #aaa;
    z-index: 1;
    background: white;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    @extend %percenter;
  }

  &:after{
    content: '';
    border-radius: 50px;
    background: #aaa;
    left: 25%;
    bottom: 0;
    position: absolute;
    transform: skew(55deg, 0deg) scaleY(.25);
    transform-origin: 100% 100%;
    height: 100%;
  }
}

.desc{
  text-align: center;
  top: 77%;
  color: #666;
}

.href{
  top: 90%;
  padding: 2px 3px;
  border-bottom: 1px solid #888;
}