.logo{
  line-height: .45;

  >*{
    position: relative;

    &:before{
      content: attr(data-before);
      vertical-align: middle;
    }

    &:after{
      content: attr(data-after);
      vertical-align: middle;
    }
  }

  .before{
    margin-right: 21px;

    &:before{
      font-size: 48px;
      font-weight: bold;  
    }

    &:after{
      font-size: 14px;
      color: #888;
      position: relative;
      left: 8px;
      top: -13px;
    }
  }

  .after{
    float: right;

    &:before{
      font-size: 14px;
      color: #888;
      position: relative;
      left: -10px;
      top: 11px;
    }

    &:after{
      font-size: 48px;
      font-weight: bold;
    }
  }
}